table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 30px 40px; 
    background-color: 	#C8C8C8; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 

#calcu {
    border-collapse: separate;
    border-spacing: 10px; /* Ajustez la valeur selon vos besoins */
    margin-left: auto;
    margin-right: auto;
    width: 20%; /* Ajustez la largeur du tableau selon vos besoins */
  }
  
  #calcu td {
    padding: 10px;
  }