
    body {  
      background:#fff;
      font-family:sans-serif;
      font-size:10px;
      line-height:1.42857143;
      color:#333;
      font-weight:normal;
    }  
  * { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  * { 
      padding: 0; 
      margin: 0;
  } 
  
  body { 
      margin: 0;
  } 
  
  body { 
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
      font-size: 14px; 
      line-height: 1.42857143; 
      color: #333; 
      background-color: #fff;
  } 
  
  body { 
      font-family: 'Ubuntu', sans-serif;
  } 
  
  body { 
      background: #f3f3f3; 
      color: #333; 
      border: none; 
      font-weight: 400; 
      margin: 0; 
      padding: 0; 
      width: 100%; 
      min-height: 100% !important; 
      height: 100%;
  } 
  
  body { 
      margin: 0; 
      padding: 0; 
      width: 100%; 
      height: 100%;
  } 
  
  body { 
      background: #fff; 
      color: #333; 
      font-weight: normal; 
      width: 100%; 
      min-width: 400px; 
      max-width: 100%;
  } 
  
  html { 
      font-family: sans-serif; 
      -webkit-text-size-adjust: 100%; 
      -ms-text-size-adjust: 100%;
  } 
  
  html { 
      font-size: 10px; 
      -webkit-tap-highlight-color: rgba(0,0,0,0);
  } 
  
  html { 
      overflow-y: scroll; 
      height: 100%;
  } 
  
  html { 
      margin: 0; 
      padding: 0; 
      width: 100%; 
      height: 100%;
  } 
  
  html { 
      overflow-y: visible;
  } 
  
  .container-di7 { 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  @media (min-width: 768px){ 
    .container-di7 { 
      width: 750px;
    } 
  }     
  
  @media (min-width: 992px){ 
    .container-di7 { 
      width: 970px;
    } 
  }     
  
  @media (min-width: 1200px){ 
    .container-di7 { 
      width: 1170px;
    } 
  
    .container-di7 { 
      width: 100% !important;
    } 
  }     
  
  :before,:after { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  .clearfix:before,.clearfix:after, .dl-horizontal dd::before, .dl-horizontal dd::after,.container-di7:before,.container-di7:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after, .form-horizontal .form-group::before, .form-horizontal .form-group::after,.btn-toolbar:before,.btn-toolbar:after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after,.nav-jlb:before,.nav-jlb:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after { 
      display: table; 
      content: " ";
  } 
  
  .clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container-di7::before, .container-di7::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav-jlb::before, .nav-jlb::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after { 
      display: table; 
      content: " ";
  } 
  
  .clearfix:after, .dl-horizontal dd::after,.container-di7:after,.container-fluid:after,.row:after, .form-horizontal .form-group::after,.btn-toolbar:after, .btn-group-vertical > .btn-group::after,.nav-jlb:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after { 
      clear: both;
  } 
  
  a { 
      background: 0 0;
  } 
  
  a { 
      color: #428bca; 
      text-decoration: none;
  } 
  
  .navbar-brand-ilt { 
      float: left; 
      height: 50px; 
      padding: 15px 15px; 
      font-size: 18px; 
      line-height: 20px;
  } 
  
  .navbar a { 
      color: #7b7b7b;
  } 
  
  a.navbar-brand-ilt { 
      text-align: left; 
      padding: 9px 0 10px 10px !important;
  } 
  
  @media (min-width: 1200px){ 
    a.navbar-brand-ilt { 
      position: absolute; 
      left: 15px;
    } 
  }     
  
  @media (min-width: 768px){ 
    .navbar-brand-ilt  { 
      margin-left: -15px;
    } 
  }     
  
  a:active,a:hover { 
      outline: 0;
  } 
  
  a:hover { 
      color: #2a6496; 
      text-decoration: underline;
  } 
  
  .navbar-brand-ilt:hover { 
      text-decoration: none;
  } 
  
  .header-cn7 { 
      position: relative; 
      padding: 0px; 
      color: #fff !important; 
      background: #000 !important;
  } 
  
  .logo-9zf { 
      font-weight: bold; 
      word-spacing: -1px;
  } 
  
  a.navbar-brand-ilt span  { 
      color: #fff; 
      text-shadow: none;
  } 
  
  ul { 
      margin-top: 0; 
      margin-bottom: 10px;
  } 
  
  .nav-jlb { 
      padding-left: 0; 
      margin-bottom: 0; 
      list-style: none;
  } 
  
  .navbar-nav-osg { 
      margin: 7.5px -15px;
  } 
  
  @media (min-width: 768px){ 
    .navbar-nav-osg { 
      float: left; 
      margin: 0;
    } 
  }     
  
  .pull-2b2 { 
      float: right!important;
  } 
  
  .pull-2b2 { 
      float: right;
  } 
  
  .clearfix::after, .dl-horizontal dd::after, .container-di7::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav-jlb::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after { 
      clear: both;
  } 
  
  .logo-byj { 
      display: none;
  } 
  
  .dropdown-nhc { 
      position: relative;
  } 
  
  .nav-jlb > li  { 
      position: relative; 
      display: block;
  } 
  
  @media (min-width: 768px){ 
    .navbar-nav-osg > li  { 
      float: left;
    } 
  }     
  
  @media (min-width: 1200px){ 
    .hidden-z21 { 
      display: inline-block !important;
    } 
  
    .hidden-jjd { 
      display: inline-block !important;
    } 
  }     
  
  .btn-ypx { 
      display: inline-block; 
      padding: 6px 12px; 
      margin-bottom: 0; 
      font-size: 14px; 
      font-weight: 400; 
      line-height: 1.42857143; 
      text-align: center; 
      white-space: nowrap; 
      vertical-align: middle; 
      cursor: pointer; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-image: none; 
      border: 1px solid transparent; 
      border-radius: 4px;
  } 
  
  .btn-ypx { 
      border-radius: 0 !important;
  } 
  
  .btn-ypx { 
      outline: 0;
  } 
  
  .nav-jlb > li > a  { 
      position: relative; 
      display: block; 
      padding: 10px 15px;
  } 
  
  .navbar-nav-osg > li > a  { 
      padding-top: 10px; 
      padding-bottom: 10px; 
      line-height: 20px;
  } 
  
  @media (min-width: 768px){ 
    .navbar-nav-osg > li > a  { 
      padding-top: 15px; 
      padding-bottom: 15px;
    } 
  }     
  
  .header-cn7 .btn-ypx  { 
      display: inline-block; 
      margin: 0px; 
      font-size: 15px; 
      text-align: center; 
      background: transparent; 
      border: none; 
      border-radius: 0px; 
      box-shadow: none;
  } 
  
  .header-cn7 a.btn-ypx  { 
      position: relative; 
      height: 30px; 
      min-width: 40px; 
      width: auto; 
      background: #40454a; 
      color: #fff !important; 
      text-shadow: none !important; 
      padding: 5px 10px !important; 
      margin: 5px 3px; 
      border-radius: 0px; 
      font-size: 12px;
  } 
  
  .header-cn7 a.btn-ypx.acc-n8y  { 
      background: transparent; 
      height: 40px; 
      width: auto; 
      padding: 10px 10px 5px 10px !important; 
      margin: 0 0 0 3px;
  } 
  
  .btn-ypx:hover { 
      color: #333; 
      text-decoration: none;
  } 
  
  .nav-jlb > li > a:hover { 
      text-decoration: none; 
      background-color: #eee;
  } 
  
  .header-cn7 a.btn-ypx:hover { 
      background: #282b2e;
  } 
  
  ul ul  { 
      margin-bottom: 0;
  } 
  
  .dropdown-menu-k26 { 
      position: absolute; 
      top: 100%; 
      left: 0; 
      z-index: 1000; 
      display: none; 
      float: left; 
      min-width: 160px; 
      padding: 5px 0; 
      margin: 2px 0 0; 
      font-size: 14px; 
      text-align: left; 
      list-style: none; 
      background-color: #fff; 
      -webkit-background-clip: padding-box; 
      background-clip: padding-box; 
      border: 1px solid rgba(0,0,0,.15); 
      border-radius: 4px; 
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); 
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
  } 
  
  .dropdown-menu-k26 { 
      list-style: none; 
      text-shadow: none; 
      border-radius: 0px;
  } 
  
  .dropdown-menu-k26.pull-2b2 { 
      right: 0; 
      left: auto;
  } 
  
  .navbar-nav-osg > li > .dropdown-menu-k26  { 
      margin-top: 0; 
      border-top-left-radius: 0; 
      border-top-right-radius: 0;
  } 
  
  .bbl-6hi { 
      background: #428bca !important;
  } 
  
  .nav-jlb > li > a:hover, .nav-jlb > li > a:focus { 
      text-decoration: none; 
      background-color: #eee;
  } 
  
  .cal-97c { 
      width: 200px; 
      padding: 4px; 
      color: #333;
  } 
  
  .bli-nig { 
      background: #fabb3d !important;
  } 
  
  .bda-tde { 
      background: #78cd51 !important;
  } 
  
  .bor-brx { 
      background: #fa603d !important;
  } 
  
  .bre-wke { 
      background: #ff5454 !important;
  } 
  
  .bbl-jpn { 
      background: #000000 !important;
  } 
  
  img { 
      border: 0;
  } 
  
  img { 
      vertical-align: middle;
  } 
  
  .img-3il { 
      border-radius: 6px;
  } 
  
  .nav-jlb > li > a > img  { 
      max-width: none;
  } 
  
  .header-cn7 a.btn-ypx.acc-n8y .avatar-6zd  { 
      max-height: 36px !important; 
      margin: -8px 10px -10px 0px; 
      float: left;
  } 
  
  .header-cn7 .use-oz4  { 
      display: inline-block; 
      text-align: left; 
      margin-top: -5px; 
      padding: 0px;
  } 
  
  .dropdown-menu-k26 .div-qtv  { 
      height: 1px; 
      margin: 9px 0; 
      overflow: hidden; 
      background-color: #e5e5e5;
  } 
  
  .dropdown-menu-k26 .div-qtv  { 
      margin: 2px 0;
  } 
  
  .fa-ynf { 
      display: inline-block; 
      font: normal normal normal 14px/1 FontAwesome; 
      font-size: inherit; 
      text-rendering: auto; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  a i  { 
      margin-top: 2px;
  } 
  
  .fa-d53:before,.fa-tachometer:before { 
      content: "\f0e4";
  } 
  
  .fa-gears:before,.fa-grf:before { 
      content: "\f085";
  } 
  
  .fa-jye:before { 
      content: "\f1ec";
  } 
  
  .fa-qmh:before { 
      content: "\f084";
  } 
  
  .fa-yvw:before { 
      content: "\f04b";
  } 
  
  .fa-1jb:before { 
      content: "\f109";
  } 
  
  .fa-hxj:before { 
      content: "\f00a";
  } 
  
  .fa-ist:before { 
      content: "\f058";
  } 
  
  .fa-yi1:before { 
      content: "\f057";
  } 
  
  .fa-21o:before,.fa-usd:before { 
      content: "\f155";
  } 
  
  .fa-vvz:before { 
      content: "\f055";
  } 
  
  .fa-hourglass-2:before,.fa-b8r:before { 
      content: "\f252";
  } 
  
  .fa-oyz:before { 
      content: "\f004";
  } 
  
  .list-ole:before { 
      content: "\f03a";
  } 
  
  .fa-xxj:before { 
      content: "\f12d";
  } 
  
  .dropdown-menu-k26 > li > a  { 
      display: block; 
      padding: 3px 20px; 
      clear: both; 
      font-weight: 400; 
      line-height: 1.42857143; 
      color: #333; 
      white-space: nowrap;
  } 
  
  .dropdown-menu-k26 > li > a:hover { 
      color: #262626; 
      text-decoration: none; 
      background-color: #f5f5f5;
  } 
  
  .dropdown-menu-k26 > li > a:hover, .dropdown-menu-k26 > li > a:focus { 
      color: #262626; 
      text-decoration: none; 
      background-color: #f5f5f5;
  } 
  
  span.is-zwy { 
      position: relative;
  } 
  
  .dropdown-menu-k26 li a i  { 
      padding-right: 10px;
  } 
  
  .fa-g3m:before { 
      content: "\f007";
  } 
  
  .fa-nny:before { 
      content: "\f08b";
  } 
  
  input { 
      margin: 0; 
      font: inherit; 
      color: inherit;
  } 
  
  input { 
      line-height: normal;
  } 
  
  input { 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      box-shadow: none;
  } 
  
  .calculator-mk6 { 
      position: absolute; 
      top: 0; 
      right: 3px; 
      width: 0; 
      border: none; 
      background: 0 0;
  } 
  
  .calculator-zyo { 
      position: relative; 
      border: 1px solid #ccc; 
      background-color: #f4f4f4;
  } 
  
  .calculator-69y { 
      clear: both; 
      margin: 0; 
      padding: 2px; 
      text-align: right; 
      background-color: #fff; 
      border: 1px solid #ccc; 
      font-size: 110%; 
      overflow: hidden;
  } 
  
  .row-rbt { 
      clear: both; 
      width: 100%;
  } 
  
  .calculator-69y span  { 
      display: inline-block; 
      width: 100%;
  } 
  
  .calculator-69y .form-tp2  { 
      font-size: 60%;
  } 
  
  button { 
      margin: 0; 
      font: inherit; 
      color: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  button { 
      -webkit-appearance: button; 
      cursor: pointer;
  } 
  
  button { 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  .row-rbt button  { 
      position: relative; 
      float: left; 
      margin: 0; 
      padding: 0; 
      height: 40px; 
      width: 25%; 
      line-height: 40px; 
      text-align: center; 
      cursor: pointer; 
      background: #fff; 
      border: 1px solid #ccc;
  } 
  
  .calculator-zyo .calculator-bbe  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-plus-h6j  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-8w5  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-chw  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-3ab  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-kap  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-rne  { 
      background: #eee;
  } 
  
  .calculator-zyo .calculator-xmw  { 
      background: #bdea74;
  } 
  
  .calculator-zyo .calculator-jop  { 
      background: #eee;
  } 
  
  .calculator-4eq { 
      display: none; 
      width: 16px; 
      height: 14px; 
      position: absolute; 
      left: -1px; 
      top: -1px; 
      color: #000; 
      background-color: #fff; 
      border: 1px solid #ccc; 
      font-size: 80%;
  } 
  
  .calculator-co6 { 
      width: 22px; 
      font-size: 70%;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-GVXwe.style-GVXwe {  
     clear: both;  
  }  
  #style-ZEKVd.style-ZEKVd {  
     display:none;  
  }  
  #style-FOCAk.style-FOCAk {  
     cursor: default;  
  }  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-67EeF.style-67EeF {  
     clear: both;  
  }  
  #style-28Obl.style-28Obl {  
     display:none;  
  }  
  #style-mKmjP.style-mKmjP {  
     cursor: default;  
  }  
  

  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #3c4a58eb;
}

.pos-tip {
    position: relative;
    /* Additional styling for the tooltip if needed */
}

